body {
    height: 100vh;
    background-color: #ff8fab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bubblegum Sans', cursive;
    gap: 10px;
}

.content-container {
    height: 350px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #ffc0f3;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-right: 100px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1a8ff;
    height: 60px;
    width: 500px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
    color: #ff4aae;
    font-size: 36px;
}

.no-button {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #f1a8ff;
    text-align: center;
    cursor: pointer;
    transition: left 0.1s linear, top 0.1s linear;
    font-family: 'Bubblegum Sans', cursive;
    color: #ff4aae;
    border: none;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.yes-button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    background-color: #f1a8ff;
    font-family: 'Bubblegum Sans', cursive;
    color: #ff4aae;
    border: none;
    font-size: 24px;
    border-radius: 20px;
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.yes-button:hover {
    transform: scale(1.5);
}

.footer {
    font-size: 16px;
}

.heart-frog {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heart-frog:hover {
    transform: scale(1.5);
}

.despair {
    height: 500px;
    width: 500px;
}

.top-gifs {
    display: flex;
    gap: 600px;
}

.bottom-gifs {
    display: flex;
    gap: 600px;
}

.sad-frog {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.excited-frog {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease;
}

.yes-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #ffc0f3;
    width: 1000px;
    height: 300px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.dancing-frog {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.yes-header {
    color: #ff4aae;
    font-size: 36px;
}

.yes-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1a8ff;
    height: 100px;
    width: 500px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.top-gifs-2 {
    display: flex;
    gap: 1000px;
}

.bottom-gifs-2 {
    display: flex;
    gap: 1000px;
}

.happy-frog {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1);
}

.happy-frog:hover {
    transform: scale(1.5);
}

.footer-2 {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
}